.nav-menu-list
{
    list-style-type: none;
    padding-left: 30px;
}

.nav-menu-list a
{
    padding-left:0;
}

.Layout-nav
{
    width: 80%;
}

.nav-menu-list a svg
{
    margin-right: 10px;
    position: relative;
    top: 2px;
}